.ipnb_checkpoints/
.ipnb_checkpoints/*
.ipynb_checkpoints/01_create_videols-checkpoint.ipynb .ipynb_checkpoints/02_image_plan-checkpoint.ipynb .ipynb_checkpoints/03_pedestrian_counting-checkpoint.ipynb .ipynb_checkpoints/04_pedestrian_tracking-checkpoint.ipynb .ipynb_checkpoints/05_grouping-checkpoint.ipynb .ipynb_checkpoints/README-checkpoint.md
